h1 {
    color: #EEF0F2;
    text-align: center;
    font-size: 28px;
    font-family: 'Trebuchet MS', 'sans-serif';
}

h2 {
    color: #EEF0F2;
    text-align: left;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'sans-serif';
}


body {
    background-color: #0C120C;
    color: #EEF0F2;
}