h1 {
    color: #EEF0F2;
    text-align: center;
    font-size: 38px;
    font-family: 'Trebuchet MS', 'sans-serif';
}

h2 {
    color: #EEF0F2;
    text-align: center;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'sans-serif';
}


body {
    background-color: #0C120C;
    color: #EEF0F2;
    display: inline-block;
}

div.Database {
    display: inline-block;
    margin: 10px 0;
}

div.WebHost {
    display: inline-block;
    margin: 10px 0;
}

div.Linux {
    display: inline-block;
    margin: 10px 0;
}

div.Cisco {
    display: inline-block;
    margin: 10px 0;
}

div.Boxes {
    display: inline-block;
    margin: 10px 0;
}

div.Contact {
    display: inline-block;
    margin: 10px 0;
}
